@charset "UTF-8";


        .flight-header {
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: rgb(238,238,238);
            color: white;
        }
        [data-bs-theme="dark"] .flight-header{
         	display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: rgb(3,22,51);
        }
        .flight-header img {
            border-radius: 10px;
            max-width: 250px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .flight-title-container {
            display: flex;
            flex-direction: column;
        }

        .flight-title {
            font-size: 2.5rem;
            font-weight: 600;
            color: #1d72b8;
        }

        

        .flight-airline {
            font-size: 1.2rem;
            color: rgb(80,80,80);
        }
        
        [data-bs-theme="dark"] .flight-airline{
        	font-size: 1.2rem;
            color: white;
        }
        
        
        .flight-details {
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
        }
        
        [data-bs-theme="dark"] .flight-details {
		    padding: 20px;
            background-color:rgb(44,44,44);
            border-radius: 10px;
		}
		
        .card {
            border-radius: 8px;
            margin-top: 50px;
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .flight-info {
            font-size: 1.2rem;
        }
        

		[data-bs-theme="dark"] body {
		    background-color: rgb(33,37,41);
		    color: rgb(222,226,230);
		}
		
		[data-bs-theme="dark"] .card {
		    background-color: rgb(44,44,44);
		    color:rgb(222,226,230);
		    border: 1px solid #444;
		}